// Breakpoint
$mb: 0;
$tb: 768px;
// $pc: 1024px;
$pc: 1280px;

//color
$main_color_01:#2e65fd;
$main_color_02:#f46674;
$main_color_03:#feb84a;
$main_color_04:#26cc7d;

$grey_01:#757575;
$grey_02:#aaa;
$grey_03:#e3e3e3;
$grey_04:#ececec;
$grey_05:#f7f7f7;