@import '_mixin', '_variables';

.registration_text{width: 100%; @include border_tnb($top:0,$color:$grey_03);  padding: .625rem; border-radius: 0;
  input, textarea{width: 100% !important; min-height: 2.5rem; font-size: 1rem !important; padding: 0; border: 0;
  
    &:not(&[type="submit"], &[type="checkbox"]){    
      &:-webkit-autofill{
        &,&:hover,&:focus,&:active{transition: background-color 5000s ease-in-out 0s; -webkit-transition: background-color 9999s ease-out; -webkit-box-shadow: 0 0 0px 1000px white inset !important; -webkit-text-fill-color: #000 !important;}
      }
    }
  }
}
label{font-size: 1.125rem;}
.filter_content .registration_text{border: none;}

//등록 form
.form-group{@include flex;
  h3.form-group-title{width: 20%; font-weight: 700;}
  .container{@include flex($direction:column); width: 100%;
    .wrapper{@include flex($align:center); width: 100%;
      .registration_label{font-weight: 400; width: 20%;}

      &.textarea{align-items: flex-start; margin-top: 1.25rem;
        .registration_text{border: none; padding: 0;
          textarea{height: 6.25rem !important; padding: 0.625rem; @include border($grey_03); resize: none;}
        }
      }
    }
    &:not(.filter_content .container){@include border_tnb($top:2px, $bottom:0, $color:#000); padding-top: 1.25rem;}
  }

  &:not(&.step_01, .filter_content &){margin-top: 5rem;}
}
.page{
  input[value="등록"]{margin-top: 5rem; padding: 1.258rem 6.25rem; border-radius: 0.315rem; color: white; font-weight: 700; position: relative; left: 50%; transform: translateX(-50%);}
  &.staff{
    input[value="등록"]{background-color: $main_color_01;}
  }
  &.client{
    input[value="등록"]{background-color: $main_color_02;}
  }
}
//등록 form end

@include mb{
  .registration_text{padding: 0 0 0.313rem;}
  .form-group{flex-direction: column;
    h3.form-group-title{width: 100%;}
    .container{gap: 2.5rem;
      .wrapper{flex-direction: column; align-items: flex-start; gap: 0.625rem;
        .registration_label{width: 100%;}
      }
    }
  }
}