@import '_mixin', '_variables';

.header{position: fixed; z-index: 9999; background-color: #fff;}
.header.header_pc{@include size(15vw, 100vh); background-color: white; border-right: 1px solid $grey_03; padding: 0rem 2rem;
  .top{min-height: 6.25rem; @include border_tnb($top:0,$color:$grey_03); @include flex($align:center);
    .logo{width: 50%;
      img{width: 100%;}
    }
  }
  .wrapper_today{padding: 2rem 0; font-size: 0.875rem; color: $grey_02;
    .id{color: $grey_01;}
  }

  .nav .gnb_items{@include flex($direction:column);
    .gnb_item{width: 100%;
      &>a{width: 100%; padding: .625rem; @include flex($gap:0.625rem,$align:center); color:$grey_01; font-size: 1.125rem; font-weight: 500;
        .img_wrapper{@include size(20px, 20px); @include flex($align:center,$justify:center);
          img{filter: invert(48%) sepia(4%) saturate(11%) hue-rotate(331deg) brightness(94%) contrast(85%);}
        }
      }//gnb items > a end
      &:nth-child(n+2):nth-child(-n+4) > a img{width: 90%;}

      &.active > a, & > a:hover{background-color: $grey_05; border-radius: 0.625rem;}

      .lnb_items{display: none !important; padding: 0.625rem 0.625rem 0 calc(0.625rem * 2 + 20px); @include flex($direction:column, $gap: 0.625rem);
        .lnb_item{
          a{color: $grey_02;}
          &.active_lnb a{color: $grey_01;}
        }
      }//lnb_items end

      &.active{
        .lnb_items{display: flex !important;}
      }
      &:nth-child(1).active > a{color: #000 !important;
        img{@include filter_black;}
      }
      &:nth-child(2).active > a{color: $main_color_01 !important;
        img{@include filter_01;}
      }
      &:nth-child(3).active > a{color: $main_color_02 !important;
        img{@include filter_02;}
      }
      &:nth-child(4).active > a{color: $main_color_03 !important;
        img{@include filter_03;}
      }
      &:nth-child(5).active > a{color: $main_color_04 !important;
        img{@include filter_04;}
      }
    } //.gnb_item end
  }//.nav .gnb_items end

  .bottom{min-height: 6.25rem; @include flex($align:center); position: absolute; bottom: 0; width: calc(100% - 4rem);
    .logout{@include flex($align:center,$gap:.625rem); color: $grey_02;
      .img_wrapper{@include size(20px, 20px); @include flex($justify:center);
        img{width: 75%; filter: invert(73%) sepia(2%) saturate(35%) hue-rotate(52deg) brightness(94%) contrast(88%);}
      }
    }
  }
}//.header_pc end
.header.header_mb{min-height: 5rem; width: 100%; padding: .625rem; @include border_tnb($top:0,$color:$grey_03); @include flex($align:center,$justify:space-between);
  .logo{width: 30%;}
  .hamburger_btn{width: 8%; z-index: 99999; @include flex($gap:6px, $direction:column);
    .bar{@include size(100%, 3px); background-color: #000; transition: .3s; border-radius: 10px;}
    &:hover{
      .bar{
        &:nth-child(1){transform: rotate(45deg) translate(5px, 5px);}
        &:nth-child(2){opacity: 0;}
        &:nth-child(3){transform: rotate(-45deg) translate(6px, -6px);}
      }
    }
  }
}
@include pc{
  .header.header_mb{display: none;}
}
@include max-tb{
  .header.header_pc{display: none;}
}