@charset "UTF-8";
.filter {
  margin-bottom: 2rem;
}

.table_container .table-list-enable {
  width: 7rem;
}
.table_container .table-list-enable input[role=switch] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid #aaa;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
  cursor: pointer;
}
.table_container .table-list-enable input[role=switch]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}
.table_container .table-list-enable input[role=switch]:checked {
  background-color: #2e65fd;
  border-color: #2e65fd;
}
.table_container .table-list-enable input[role=switch]:checked::before {
  background-color: #fff;
  left: 1rem;
}
.table_container .table-list-enable input[role=switch]:disabled {
  border-color: #aaa;
}
.table_container .table-list-enable input[role=switch]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) solid #2e65fd;
}
.table_container .table-list-enable input[role=switch]:enabled:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.table_container .table-list-management {
  width: 5rem;
}
.table_container .table-list-management .img_wrapper:first-child {
  margin-right: 0.313rem;
}
.table_container .table-list-management .img_wrapper img {
  filter: invert(65%) sepia(47%) saturate(5%) hue-rotate(9deg) brightness(95%) contrast(89%);
}

/* 탭 전체 스타일 */
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  margin: 0 auto;
  /* 탭 스타일 */
  /* 라디오 버튼 UI삭제*/
  /* 탭 컨텐츠 스타일 */
  /* 선택 된 탭 콘텐츠를 표시 */
  /* 선택된 탭 스타일 */
}
.tabs .tab_item {
  background-color: #ececec;
  text-align: center;
  float: left;
  transition: all 0.3s ease;
  border-radius: 0.313rem 0.313rem 0 0;
  padding: 0.625rem 5rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tabs .tab_item .img_wrapper {
  width: 2rem;
  height: 2rem;
  padding: 0.313rem;
  background-color: #aaa;
  border-radius: 50px;
}
.tabs .tab_item .img_wrapper img {
  filter: brightness(0) invert(1);
}
.tabs .tab_item .text_wrapper {
  font-size: 1.125rem;
  color: #aaa;
  font-weight: 500;
}
.tabs .tab_item[for=staff] .img_wrapper img {
  width: 90%;
  height: 90%;
}
.tabs input[name=tab_item]:checked + .tab_item {
  background-color: #fff;
}
.tabs input[name=tab_item]:checked + .tab_item .img_wrapper {
  background-color: #2e65fd;
}
.tabs input[name=tab_item]:checked + .tab_item .text_wrapper {
  color: #2e65fd;
}
.tabs input[name=tab_item] {
  display: none;
}
.tabs .tab_content {
  display: none;
  padding: 2rem 1.25rem;
  clear: both;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0 0 0.313rem 0.313rem;
}
.tabs #staff:checked ~ #staff_content,
.tabs #manager:checked ~ #manager_content {
  display: block;
}
.tabs .tabs input:checked + .tab_item {
  background-color: #000;
  color: #fff;
}

@media (max-width: 767px) {
  .tabs .tab_item {
    padding: 0.625rem;
    width: 50%;
  }
}/*# sourceMappingURL=staff.css.map */